
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;900&display=swap");
*{

  font-family:"Nunito",sans-serif;
 
}
.hi{
    width: 100vw;
    height: 100vh;
  
display:flex;

justify-content: center;
align-items: center;
background-color: rgb(161, 93, 93);
}
.card{

 background-color: rgb(0, 225, 255);
 padding:0.1rem;
height:47vh;
border-radius: 10px;
box-shadow: 0rem 16px 32px 0 blue ;
width:37vw;
text-align: center;
}
.card:hover{
  box-shadow: 0rem 32px 64px 0 blue ;

}
input{
border:none;
border:1px solid black;
  border-radius:10px ;
  height: 1.5rem;
  width: 15vw;
  cursor: pointer;
}
span{

  font-size: 1.5rem;
  font-style: bold;
  color:yellow;


}
.btn{

  width:8vw;
  cursor:pointer;
 margin-left:28vw;
 margin-top: 1vw;
 position: relative;
 height: 2rem;
 background-color: brown;
 color:black;
}
.btn:hover{
  background-color: orange;
  color: red;
}
form{
  margin-left: -5vw;
}
.rp:hover{

  
background-color:blue;
color:red;

}
.text{
  transform: translate(3vw,0);
}
.res{
  font-style:italic;
  font-size:1rem ;
  font-weight:bold ;
  color:red;
}
.fd{

  font-style:italic;
  font-size:1.5rem ;
  font-weight:bold ;
  color:goldenrod;
  margin-top: 1px;
}
.at{

  font-style:italic;
  font-size:1rem ;
  font-weight:bold ;
  color:yellow;
  margin-bottom: 2px;
}

.rp{

 
  visibility: hidden;
  }
  .jk{
    transform:translate(27vw,0);
    background-color: black;
    color: white;
    height: 2rem;
    width:4.6vw;
    visibility:visible;
  }